#cards{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vw;

}

h4{
    font-size: clamp(1.5rem, 2.5vw, 2.5rem)
}

p{
    font-size: clamp(1rem, 2vw, 2rem);
    margin-top: 1vw;
}

button{
    width: 20vh;
    height: 5vh;
    border-radius: 5px;
    border: 0;
    background-color: #38B549;
    color: white;
    font-size: clamp(0.5rem, 1.5vw, 1.5rem)
}
button:hover{
    background-color:#118020;
}

.cards__card{
    border: 1px solid #d4d4d4;
    border-radius: 15px;
    box-shadow: 6px 6px #b1adad;
    background-color: #d4d4d4;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 20vh;
    margin: 10vw;
}

.card__figure{
    width: 20vh;
    max-width: 10vw;
    min-width: 10vh;
}


@media(min-width: 800px){
    #cards{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 5vw;
        margin: 0;
    }

    .cards__card{
        width: 20vw;
        margin: 0;
        
    }
}